{% extends 'promeds/base_template.html' %}
{% block body1 %}

			<div class="form-group">
                <label for="street">Enter Your Street</label>
                <input name="street" type="text" id="street" class="form-control " maxlength="30" tabindex="9">
            </div>

			<div class="form-group">
                <label for="city">Enter Your City</label>
                <input name="city" type="text" id="city" class="form-control" maxlength="30" tabindex="9">
            </div>

            <div class="form-group">
                <label for="street">Enter Your State</label>
                <input name="state" type="text" id="state" class="form-control " maxlength="30" tabindex="9">
            </div>

            <div class="form-group">
                <label for="state" type="text"></label>
         </div>
		 <br>


	</div>
	<!--<center>
	<div class="form-group">
                <input name="ImageButton2" type="submit" id="ImageButton2" class="btn btn-default chkout-btn field-required" title="Register Now!" value="Register">
        </div>
	</center>-->
</form>




{% endblock %}